.container-fluid.px-5.px-sm-0
  .row
    .col-3
      "テスト"
    .col-3
      "テスト"
    .col-3
      "テスト"

%table.table
  .thead
    .tr
      .th{scope:"col"}
        %span #
      .th{scope:"col"}
        First
      .th{scope:"col"}
        Last
      .th{scope:"col"}
        Handle
  .tbody
    .tr
      .th{scope:"row"}
        1
      .td
        Mark
      .td
        Otto
      .td@mdo
    </tr>
