= render 'layouts/header_menu'

.event-copy-title
  %h2 イベント登録画面
  .text-red
    ※コピー元の情報が入っております。適宜修正してご利用下さい。
  - if @event.errors.any?
    .alert
      %ul.list-style-none
        - @event.errors.full_messages.each do |message|
          %li
            = message
= render 'public/events/form', event: @event