%p
  こんにちは！ #{@resource.email}!
%p パスワード再設定の依頼を受けたため、メールを送信しています。下のリンクからパスワードの再設定ができます。
%p= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token)
%p パスワード再設定の依頼をしていない場合、このメールを無視してください。
%p パスワードの再設定は、上のリンクから新しいパスワードを登録するまで完了しません。
