h2{
  text-align: center;
}

.community-index-container{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  .img-container{
    width: 255px;
    height: 300px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  .text-container{
    width: 255px;
    margin-bottom: 5px;
    .community-show-link-area{
      text-align: center;
      .community-show-link{
        border-radius: 10px;
        padding: 10px;
        margin-top: 10px;
      }
    }
    .community-action-btn{
      text-align: center;
    }
  }
}

@media (max-width: 600px) {
  .community-index-container{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    .img-container{
      width: 350px;
      height: 300px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
    .text-container{
      width: 350px;
      margin-bottom: 5px;
      .community-index-link{
        position: absolute;
        left: 70px;
        bottom: 5px;
      }
    }
  }
}

.community-show-title{
  text-align: center;
  margin: 0 auto;
  width: 90%;
  height: 60px;
  margin-bottom: 10px;
  height: 100px;
  background-color: white;
  .community-show-follow{
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0px;
    background-color: white;
    .community-show-btn{
      margin: 0 auto;
      margin-bottom: 5px;
      text-align: center;
      display: inline-block;
      width: 200px;
      font-size: 20px;
      color: white;
      border-radius: 10px;
    }
  }
}

.community-show-container{
  width: 90%;
  margin: 0 auto;
  .community-show-card{
    border: thick double lightblue;
    .img-container{
      width: 100%;
      height: 300px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
    .text-container{
      text-align: center;
      .card-text{
        margin-top: 10px;
      }
      .community-show-btn{
        margin: 0 auto;
        margin-bottom: 5px;
        text-align: center;
        display: block;
        width: 200px;
        font-size: 20px;
        color: white;
        border-radius: 10px;
      }
    }
  }
  .community-show-table{
    border: thick double lightblue;
  }
  .community-index-title{
    width: 100%;
    height: 60px;
    border: 1px solid;
    border-radius: 10px;
    .community-index-count{
      margin: 10px 10px 10px 30px;
      display: flex;
      h4{
        margin-right: 10px;
      }
      .count{
        font-size: 50px;
        line-height: 40px;
      }
    }
    .pc-kaminari{
      margin-top: 10px;
    }
    .pc-serch{
      line-height: 60px;
    }
    .community-index-title__searchForm{
      font-size: 20px;
    }
  }
  .community-index-body{
    margin-top: 50px;
  }
}

@media (max-width: 600px) {
  .community-index-title{
    margin-bottom: 120px;
    .community-index-count{
      justify-content: center;
    }
    .sp-kaminari{
      margin-left:100px;
    }
    .sp-serch{
      margin: 0 auto;
    }
  }
}