.community-index-container{
  margin: 0 auto;
  width: 90%;
  .img-container{
    width: 50px;
    height: 50px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}

.community-show-container{
  margin: 0 auto;
  width: 90%;
  .community-table{
    border: thick double lightblue;
    .img-container{
      width: 50px;
      height: 50px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
}
