.header_container{
  .header-menu{
    margin: 0 auto;
    width: 90%;
    height: 80px;
    background-color: white;
    padding: 10px;
    .top-message{
      width: 300px;
      float: left;
      h1{
        font-size: 20px;
      }
      p{
        font-size: 10px;
        margin: 0 0 5px 0;
      }
    }
    .header-sign-in-list{
      float: right;
      margin: 30px 10px 10px 10px ;
      display: flex;
      height: 15px;
      align-items: center;
      .icon_mini{
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 10px;
        cursor: pointer;
    }
  }
  }
  .customer-menu-pc {
    display: none;
  }
  .customer-menu-sp{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    text-align: right;
    padding: 64px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
    .close-icon{
      margin: 10px;
      cursor: pointer;
    }
    .menu-sp-btn{
      width: 200px;
      margin: 5px;
    }
  }
  .customer-menu-sp.show {
    opacity: 1;
    pointer-events: auto;
  }
  @media (min-width: 600px) {
    .customer-menu-pc {
      display: block;
      width: 90%;
      height: 50px;
      background-color: lightblue;
      margin: 0 auto 0 auto;
      border-radius: 10px;
      ul{
        display: flex;
        align-items: center;
        height: inherit;
      }
    }
  }
}
