.matchings-index-container{
  width: 90%;
  text-align: center;
  h2{
    display: inline;
  }
  strong{
    font-size: 30px;
  }
  .form-inline{
    margin-top: 10px;
  }
  .do-chat{
    font-size: 20px;
  }
}

.matchings-index-table{
  width: 90%;
  margin: 0 auto;
  .img-container{
    width: 50px;
    height: 50px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}