.matchings-index-container{
  width: 90%;
  text-align: center;
  h2{
    display: inline;
  }
  strong{
    font-size: 30px;
  }
  .form-inline{
    margin-top: 10px;
  }
  .do-chat{
    font-size: 20px;
  }
}
