= render 'layouts/admin_header_menu'

.row.justify-content-center
  .col-md-10
    %h2.text-center
      イベント詳細
%table.table.table-striped
  %thead
    %tr
      %th ID
      %th イベント名
      %th 開始日時
      %th 終了日時
      %th 参加人数
      %th 物理削除
  %tbody
    %tr
      %th=@event.id
      %td=@event.event_name
      %td=l(@event.event_start_time, format: :short, default: '-')
      %td=l(@event.event_end_time, format: :short, default: '-')
      - joined_member_ids = []
      - @event.songs.each do |song|
        - joined_member_ids += song.customers.distinct.pluck(:id)
      - joined_member_counts = joined_member_ids.uniq.length
      %td="#{joined_member_counts}人"
      %td
        = link_to "削除", admin_event_path(@event), method: :delete, data: { confirm: "こちらのイベントを削除してもよろしいですか？", 'turbolinks': false }, class: "btn btn-danger"
      %td
        %table.table.table-striped
          %thead
            %tr
              %th ID
              %th 曲名
              %th 曲詳細
          - @event.songs.each do |song|
            %tbody
              %tr
                %th=song.id
                %td=song.song_name
                %td
                  %table.table.table-striped
                    %thead
                      %tr
                        %th ID
                        %th 参加者名
                        %th 削除
                    - song.customers.each do |customer|
                      %tbody
                        %tr
                          %th=customer.id
                          %td=customer.name
                          %td
                            = link_to "削除", admin_event_delete_path(@event, song_id: song, customer_id: customer), method: :delete, data: { confirm: "こちらのイベントを削除してもよろしいですか？", 'turbolinks': false }, class: "btn btn-danger"
                            

