= render 'layouts/admin_header_menu'

.row.justify-content-center
  .col-md-10
    %h2.text-center
      イベント詳細
%table.table.table-striped
  %thead
    %tr
      %th ID
      %th イベント名
      %th 参加人数
      %th 物理削除
      %th 曲リスト
  %tbody
    %tr
      %th=@event.id
      %td=@event.event_name
      %td
        #{@joined_member_counts}人
      %td
        = link_to "削除", admin_event_path(@event), method: :delete, data: { confirm: "こちらのイベントを削除してもよろしいですか？", 'turbolinks': false }, class: "btn btn-danger"
      %td
        %table.table.table-striped
          %thead
            %tr
              %th ID
              %th 曲名
              %th パート一覧
          - @event.songs.each do |song|
            %tbody
              %tr
                %th=song.id
                %td=song.song_name
                %td
                  %table.table.table-striped
                    %thead
                      %tr
                        %th 参加パート名
                        %th 参加メンバー
                    - song.join_parts.each do |join_part|
                      %tbody
                        %tr
                          %td=join_part.join_part_name
                          %td
                            %table.table.table-striped
                              %thead
                                %tr
                                  %th ID
                                  %th メンバー名
                                  %th 削除
                              - join_part.customers.each do |customer|
                                %tbody
                                  %tr
                                    %td=customer.id
                                    %td=customer.name
                                    %td
                                      = link_to "削除", admin_event_delete_path(@event, song_id: song, join_part_id: join_part, customer_id: customer), method: :delete, data: { confirm: "こちらのユーザーを削除してもよろしいですか？", 'turbolinks': false }, class: "btn btn-danger"
                            

