- content_for :title, "特定商取引法に基づく表記"

.lp-header.light
  .header-inner
    = link_to root_path, class: "lp-logo dark" do
      %span.logo-main BeMyStyle

    = link_to "← 戻る", :back, class: "back-link"
    
.legal-container
  %h1 特定商取引法に基づく表記

  %table.legal-table
    %tr
      %th 事業者名
      %td BeMyStyle

    %tr
      %th 運営責任者
      %td 今泉智貴

    %tr
      %th 所在地
      %td ※請求があった場合に遅滞なく開示

    %tr
      %th 電話番号
      %td ※請求があった場合に遅滞なく開示

    %tr
      %th メールアドレス
      %td i.tomoki0218@gmail.com

    %tr
      %th 販売価格
      %td 各プランページに記載

    %tr
      %th 商品代金以外の必要料金
      %td インターネット接続にかかる通信費等はお客様のご負担となります

    %tr
      %th 支払方法
      %td クレジットカード決済（Stripe）

    %tr
      %th 支払時期
      %td 各カード会社の引き落とし日

    %tr
      %th サービス提供時期
      %td 決済完了後、即時利用可能

    %tr
      %th 返品・キャンセル
      %td
        デジタルサービスの性質上、返金は行っておりません。<br>
        解約はいつでも可能です。

    %tr
      %th 解約方法
      %td マイページまたは専用ページよりお手続きください