%h2 みんなのコメント
= form_with model: [:public, activity, comment], local: false do |f|
  = f.text_field :comment, id: "input_comment", placeholder: '素敵な活動ですね！', style: "width:100%"
  = f.submit 'コメントする', class: "activity-comment-btn", data: { 'turbolinks': false, confirm: 'コメントを送信します。よろしいですか？' }