%table.table.table-striped
  %thead
    %tr
      %th ID
      %th 名前
      %th メールアドレス
      %th 最終ログイン日
      %th ログイン回数
      %th 詳細
      %th メール承認
      %th 物理削除
  - @customers.each do |customer|
    %tbody
      %tr
        %th=customer.id
        %td=customer.name
        %td=customer.email
        %td=l(customer.current_sign_in_at, format: :short, default: '-')
        %td="#{customer.sign_in_count}回"
        %td 詳細
        %td
          -if customer.confirmed_at.nil?
            = link_to "承認", approval_path(customer_id: customer.id), method: :patch, data: { 'turbolinks': false }, class: "btn btn-primary"
          - else
            承認済み
        %td
          = link_to "物理退会", purge_path(customer_id: customer.id), method: :delete, data: { confirm: "【確認】アカウントを完全に削除してもよろしいですか？", 'turbolinks': false }, class: "btn btn-danger"