<ul class="list-style-none">
<% if admin_signed_in? %>
  <li>
    <i class="fa-solid fa-right-from-bracket"></i>
    <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-secondary" %>
  </li>
<% else %>
  <li>
    <i class="fa-solid fa-right-to-bracket"></i>
    <%= link_to "管理者ログイン", new_admin_session_path, class: "btn btn-primary" %>
  </li>
<% end %>
</ul>
<h1>Admin::Homes#top</h1>
<p>Find me in app/views/admin/homes/top.html.erb</p>
