.community-send-mail-container
  .community-send-mail-title
    %h6
      = @community.name
      メンバーへの送信が完了しました!
    %p 内容は以下の通りです。
  %table.table.table-striped.community-send-mail-table{:width=>"100%",:border=>"1"}
    %colgroup
      %col{width: "19%"}
      %col{width: "81%"}
        %tr
          %th{scope:"row"} タイトル
          %td
            = @mail_title
        %tr
          %th{scope:"row"} 本文
          %td
            = safe_join(@mail_content.split("\n"),tag(:br))
        %tr
          %th{scope:"row"} 戻る
          %td
            = link_to "コミュニティ詳細へ", public_community_path(@community), class: "btn-info community-send-mail-link", data: { 'turbolinks': false }
      