.about-title{
  margin: 20px 0 20px 10px;
  .about-direct-btn{
    margin: 20px 0;
  }
}

.about-lead{
  text-align: center;
  margin: 20px auto;
  padding-top: 20px;
  font-size: 17px;
  border: solid 5px #17a2b8;
  border-radius: 10px;
  width: 90%;
  h4{
    margin: 10px 0 20px 0;
  }
  .about-lead-list{
    text-align: left;
    display: inline-block;
    font-size: 20px;
  }
}

.about-to-do{
  text-align: center;
  margin: 20px auto;
  padding-top: 20px;
  font-size: 17px;
  border: solid 5px #17a2b8;
  border-radius: 10px;
  width: 90%;
  h5{
    margin: 10px 0 20px 0;
  }
  p{
    margin: 10px 0;
  }
  .about-to-do-list{
    text-align: left;
    display: inline-block;
    font-size: 20px;
  }
}

.about-community{
  text-align: center;
  margin: 20px auto;
  padding-top: 25px;
  font-size: 17px;
  border: solid 5px #17a2b8;
  border-radius: 10px;
  width: 90%;
  h5{
    margin: 10px 0 20px 0;
  }
  p{
    margin: 10px 0;
  }
  .about-community-list{
    text-align: left;
    display: inline-block;
    font-size: 20px;
  }
}

.about-activity{
  text-align: center;
  margin: 20px auto;
  padding-top: 25px;
  font-size: 17px;
  border: solid 5px #17a2b8;
  border-radius: 10px;
  width: 90%;
  h5{
    margin: 10px 0 20px 0;
  }
  p{
    margin: 10px 0;
  }
  .about-activity-list{
    text-align: left;
    display: inline-block;
    font-size: 20px;
  }
}

.about-event{
  text-align: center;
  margin: 20px auto;
  padding-top: 25px;
  font-size: 17px;
  border: solid 5px #17a2b8;
  border-radius: 10px;
  width: 90%;
  h5{
    margin: 10px 0 20px 0;
  }
  p{
    margin: 10px 0;
  }
  .about-event-list{
    text-align: left;
    display: inline-block;
    font-size: 20px;
  }
}

.attention{
  text-align: center;
  margin: 20px auto;
  padding: 25px 0;
  font-size: 17px;
  border: solid 5px red;
  border-radius: 10px;
  width: 90%;
  h5{
    margin: 10px 0 20px 0;
  }
  p{
    margin: 10px 0;
  }
  .about-event-list{
    text-align: left;
    display: inline-block;
  }
}