= render 'layouts/header_menu'

.activity-new-edit-title
  %h2 活動報告作成画面
  - if @activity.errors.any?
    .alert
      %ul.list-style-none
        - @activity.errors.full_messages.each do |message|
          %li
            = message
= render 'form', activity: @activity
