= render 'layouts/admin_header_menu'

.container.py-4
  .d-flex.justify-content-between.align-items-center.mb-3
    %h2.mb-0
      シーズン編集
      %small.text-muted.ml-2= @season.name
    = link_to "詳細へ", admin_singing_ranking_season_path(@season), class: "btn btn-outline-dark"

  = render "form"
