- if current_customer.following?(customer)

  .follow-state
    %span.btn-following フォロー中
    %br
    = link_to "フォローを外す",
      business_customer_relationships_path(customer),
      method: :delete,
      class: "link-unfollow"

- else

  = link_to "フォローする",
    business_customer_relationships_path(customer),
    method: :post,
    class: "btn btn-primary"