===============================================
%br
#{@ac_customer.name}さんが所属コミュニティで新しいプロジェクトを作成しました😊🎶
%br
%br
⬇️新しく作成されたプロジェクトはこちら⬇️
%br
#{@project.title}
%br
「#{@project_url}」
%br
===============================================
%br
%br
プロジェクトページから内容確認や参加ができます😊
%br
気になる企画ならぜひチェックしてみてください🎵
%br
%br
Thank you for useing NAKAMA🎵
%br
%br
%br
🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵
%br
メール通知を停止は「マイページ」より設定変更頂けます。
%br
「マイページ」
%br
#{@business_mypage}
