===============================================
%br
#{@ac_customer.name}さんがプロジェクトに参加しました😊🎶
%br
%br
⬇️参加があったプロジェクトはこちら⬇️
%br
#{@project.title}
%br
「#{@project_url}」
%br
===============================================
%br
%br
プロジェクトページから参加メンバーや進行状況を確認できます😊
%br
新しい仲間といっしょに企画を進めていきましょう🎵
%br
%br
Thank you for useing NAKAMA🎵
%br
%br
%br
🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵
%br
メール通知を停止は「マイページ」より設定変更頂けます。
%br
「マイページ」
%br
#{@business_mypage}
