===============================================
%br
#{@ac_customer.name}さんがあなたを「フォロー」しました😊🎶
%br
%br
⬇️あなたを「フォロー」した方はこちら⬇️
%br
「#{@follower_url}」
%br
===============================================
%br
%br
フォローバックは上記#{@ac_customer.name}さんのページで可能です😊
%br
相互フォローになりますと「個別チャット」も可能ですので、ぜひご利用ください🎵
%br
%br
Thank you for useing BeMyStyle🎵
%br
%br
%br
🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵
%br
メール通知を停止は「マイページ」より設定変更頂けます。
%br
「マイページ」
%br
#{@mypage}
