===============================================
%br
#{@ac_customer.name}さんが「#{@event.event_name}」に参加しました😊🎶
%br
%br
⬇️該当のイベントページはこちら⬇️
%br
「#{@event_url}」
%br
===============================================
%br
%br
上記イベントページにて参加ユーザーの確認ができます😊
%br
%br
Thank you for useing BeMyStyle🎵
%br
%br
%br
🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵
%br
メール通知を停止は「マイページ」より設定変更頂けます。
%br
「マイページ」
%br
#{@mypage}
