.comment
  = customer_avatar_tag(message.customer, class_name: "user-icon")

  .comment-body
    = link_to message.customer.name, business_customer_path(message.customer), class:"comment-user"
    - if message.stamped?
      %p.comment-text
        %span.stamp-badge= message.stamp_label
    - else
      %p.comment-text= message.body
