.header-menu{
  height: 100px;
  padding: 10px;
  .top-message{
    margin-left: 10px;
  }
  .header-sign-in-list{
    margin-top: 10px;
    .header-sign-in-element{
      margin-top:5px;
    }
  }
}
