= render 'layouts/header_menu'

.notifications-index-container
  %h2 通知一覧
  - notifications = @notifications.where.not(visitor_id: current_customer.id)
  - if notifications.exists?
    = render notifications
  - else
    %p
    通知はありません